
.pl-8 {
  padding-left: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-16 {
  padding-right: 16px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-36 {
  padding-top: 36px;
}



.pt-48 {
  padding-top: 48px;
}



